* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;

}

.shoe {
    height: 100vh;
    width: 100%;
    position: relative;
}

h1 {
    display: inline-block;
    width: 40%;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.shoe_text {
    width: 40%;
    margin: auto;
}

.shoe_image{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* colorazione sfondo */
.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

/* colorazione testo */

.text_yellow {
    color: yellow;
}

.text_green {
    color: green;
}